body {
    background: #FFFFFF;
}

h1 {
    color: #898952;
}

.black-text {
    color: #1E2019;
}

h2 {
    color: #898952;
}

.first-color-header {
    color: #898952;
}

nav a {
    color: #885053;
}

a {
    color: #DDA15E;
}
.first-color {
    color: #898952;
}

.second-color {
    color: #885053;
}